# environment variables (DO NOT upload secrets)
.env
.env.*

# virtual environment
.venv/
venv/
env/

# python cache files
__pycache__/
*.pyc
*.pyo

# flask instance folder (may contain database)
instance/

# database files
*.db
*.sqlite3

# migrations cache
migrations/__pycache__/

# logs
*.log

# IDE settings (PyCharm, VS Code)
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db